.smartphones {
	background-image: url('/images/icons/products_smartphone.png');
}

.laptops {
	background-image: url('/images/icons/products_laptops.png');
}

.tablets {
	background-image: url('/images/icons/products_tablets.png');
}

.hoofdtelefoons {
	background-image: url('/images/icons/products_hoofdtelefoon.png');
}

.televisies {
	background-image: url('/images/icons/products_televisies.png');
}

.gaming {
	background-image: url('/images/icons/products_gaming.png');
}

.monitoren {
	background-image: url('/images/icons/products_monitoren.png');
}

.opslag {
	background-image: url('/images/icons/products_opslag.png');
}

.componenten {
	background-image: url('/images/icons/products_componenten.png');
}

.cameras {
	background-image: url('/images/icons/products_cameras.png');
}

.desktops {
	background-image: url('/images/icons/products_Desktops.png');
}

.videokaarten {
	background-image: url('/images/icons/products_videokaarten.png');
}
