name: CodeStyle

on:
  pull_request: 
    branches:
      - 'main'
  push:
    branches-ignore:
      - 'main'
    paths-ignore:
      - 'images/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 'lts/gallium'
          cache: 'npm'
      - run: npm ci
      - run: npm run lint
